.goods-group-coupon-receiver {
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 4px 1px 2px 12px;
  display: flex;
  width: 100%;
  overflow: hidden;
  .goods-detail-promotion {
    margin-right: 0;
    flex: 1;
    overflow: hidden;
  }
  .get-btn {
    margin-right: 0;
  }
  .goods-group-coupon-receiver__title {
    flex-shrink: 0;
    font-size: 12px;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 23px;
    padding-right: 4px;
    font-weight: 500;
    background-color: inherit;
    position: relative;
    z-index: 1;
  }
}
