.store-channel-create {
  margin: 0 16px 16px;
  overflow: hidden auto;
}
.weapp-sign-section {
  padding: 16px 8px;
  margin-bottom: 16px;
  line-height: 2;
  h3 {
    text-indent: -0.5em;
  }
  strong {
    color: $color-error;
  }
}
