
.#{$prefix}-tabs-nav-list {
  transition: all 0.2s !important;
  &:hover {
    transition: all 0s !important;
  }
  &:active {
    transition: all 0.2s !important;
  }
}

.#{$prefix}-tabs-dropdown {
  color: $color-text-base;
  background-color: $ui-popup-bg;
  border-radius: $ui-border-radius;
  .#{$prefix}-tabs-dropdown-menu-item {
    color: $color-text-base;
  }
}

.#{$prefix}-tabs-dropdown .#{$prefix}-tabs-dropdown-menu {
  background-color: $ui-popup-bg;
  border-radius: $ui-border-radius;
  @extend .ui-scrollbar !optional;
}

.#{$prefix}-tabs-dropdown .#{$prefix}-tabs-dropdown-menu-item:hover {
  background-color: $ui-bg-hover;
}

.#{$prefix}-tabs {
  color: $color-text-base;
}

.#{$prefix}-tabs .#{$prefix}-tabs-tab.#{$prefix}-tabs-tab-active .#{$prefix}-tabs-tab-btn {
  color: $color-primary;
}
.#{$prefix}-tabs .#{$prefix}-tabs-tab:hover {
  color: $color-primary-hover;
}
.#{$prefix}-tabs .#{$prefix}-tabs-tab-btn:focus:not(:focus-visible),
.#{$prefix}-tabs .#{$prefix}-tabs-tab-remove:focus:not(:focus-visible),
.#{$prefix}-tabs .#{$prefix}-tabs-tab-btn:active,
.#{$prefix}-tabs .#{$prefix}-tabs-tab-remove:active {
  color: $color-primary;
}

.#{$prefix}-tabs .#{$prefix}-tabs-ink-bar {
  background-color: $color-primary;
}
