.widget-border-radius {
  display: flex;
}

.widget-border-radius__toggler {
  flex-shrink: 0;
  width: $jsf-ui-component-height;
  height: $jsf-ui-component-height;
  margin-right: $size-gap-secondary;
  border-radius: $ui-border-radius;
  padding: 2px;
  border: 1px solid $ui-border-color;
  transition: border-color 0.3s;
  color: $color-text-secondary;
  &:hover {
    background-color: $ui-bg-hover;
    border-color: $ui-border-color;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget-border-radius__input {
  flex: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  max-width: 200px;
  .lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
.widget-border-radius__row {
  display: flex;
  gap: 8px;
  position: relative;
  // margin-right: auto;
  .__input {
    flex: 1;
    &.--r {
      padding-right: 32px;
      input {
        text-align: right;
      }
    }
    &.--l {
      padding-left: 32px;
    }
  }
  .__icon {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    pointer-events: none;
    &.--a {
      left: calc(50% - 8px);
      transform: translate3d(-100%, -50%, 0);
    }
    &.--b {
      left: calc(50% + 8px);
      transform: translate3d(0, -50%, 0) rotate(90deg);
    }
    &.--c {
      left: calc(50% + 8px);
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }
    &.--d {
      left: calc(50% - 8px);
      transform: translate3d(-100%, -50%, 0) rotate(270deg);
    }
  }
}
