.anteng-scroll-tab {
  width: 100%;
  overflow: hidden;
  &.anteng-scroll-tab--vertical {
    height: 100%;
    .anteng-scroll-tab__scroll {
      height: 100%;
      overflow: hidden auto;
    }
    .anteng-scroll-tab__content {
      flex-direction: column;
    }
  }
}

.anteng-scroll-tab__scroll {
  scroll-behavior: smooth;
  overflow: auto hidden;
}

.anteng-scroll-tab__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.anteng-scroll-tab__item {
  flex-shrink: 0;
}
