.jsf_errors-button {
  font-size: 13px;
  padding: 4px 8px 4px 12px;
  // height: $jsf-ui-component-height;
  border-radius: $ui-border-radius;
  max-width: 150px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.3s linear;
  transform-origin: center center;
  margin-left: 0;
  .icon {
    transform: rotate(90deg);
    margin-left: 4px;
  }
  &--hidden {
    opacity: 0;
    max-width: 0;
    padding: 0;
    margin-left: -8px;
  }
  strong {
    margin: 0 4px;
  }
}
.jsf_errors-popup {
  width: 400px;
  min-height: 200px;
  max-height: 40vh;
  overflow: hidden auto;
}
.jsf_errors-item {
  background-color: $color-bg-500;
  margin: 12px;
  width: 376px;
  border-radius: $ui-border-radius;
  padding: 8px;
  &:hover {
    background-color: $color-bg-400;
  }
  .error-title {
    display: flex;
    font-weight: bold;
  }
  .error-path {
    margin-left: auto;
    opacity: 0.4;
    font-weight: normal;
  }
  .error-message {
    display: flex;
    flex-wrap: wrap;
    min-height: 16px;
    font-size: 13px;
    margin: 4px;
    font-weight: 500;
    .icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      vertical-align: middle;
      background-color: #fff;
      border-radius: 50%;
      margin-top: 2px;
    }
    &.error {
      color: $color-error;
    }
    &.warn {
      color: $color-warn;
    }
  }
}
