.basic-layout-breadcrumb + .#{$prefix}-page-view {
  padding-top: 0;
}
.basic-layout-breadcrumb + .base-table-page-wrapper .base-table-page,
.basic-layout-breadcrumb + .#{$prefix}-basic-layout__router-view-content .base-table-page {
  margin-top: 0;
}
.ice-basic-layout__page-label + .base-table-page-wrapper .btp__tab {
  top: 22px;
}

.basic-layout-breadcrumb {
  padding: 12px;
  display: flex;
  align-items: center;
  color: $color-text-secondary;
  position: relative;
  z-index: 20;
  width: fit-content;
}

.basic-layout-breadcrumb__back {
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  padding-right: 6px;
  .icon {
    font-size: 17px;
    vertical-align: middle;
    position: relative;
  }
  &:hover {
    background-color: $color-primary-02;
    color: $color-primary;
  }
}

.basic-layout-breadcrumb__divider {
  width: 1px;
  height: 16px;
  background-color: $color-text-disabled;
  opacity: 0.4;
  margin: 0 18px 0 11px;
}

.basic-layout-breadcrumb__link {
  &:hover {
    color: $color-primary;
  }
  &.\--active {
    color: $color-primary;
    pointer-events: none;
  }
}

.basic-layout-breadcrumb__split {
  opacity: 0.4;
  margin: 0 8px;
  font-size: 14px;
}
