.w_number {
  height: $jsf-ui-component-height;
  width: 100%;

  .ice-input-number-group > .ice-input-number:first-child,
  .ice-input-number-group .ice-input-number-group-addon:first-child {
    border-radius: $ui-border-radius;
  }

  .ice-input-number-group .ice-input-number-group-addon {
    background: none;
    position: absolute;
    top: 0;
    right: 8px;
    height: 100%;
    padding: 0;
    line-height: $jsf-ui-component-height;
    color: var(--color-text-base);
    opacity: 0.3;
    border: none;
    width: auto;
  }

  .#{$prefix}-input,
  .#{$prefix}-input-number,
  .#{$prefix}-input-affix-wrapper,
  .#{$prefix}-input-number-affix-wrapper {
    &:hover,
    &:focus,
    &-focused {
      border-color: $color-primary;
      box-shadow: 0 0 0 4px $color-primary-02;
      border-right-width: 1px !important;
      outline: 0;
      & + .#{$prefix}-input-number-group-addon {
        display: none;
      }
    }
  }
}
