.#{$prefix}-theme {
  overflow: auto;
}
.#{$prefix}-theme__mode {
  display: flex;
  padding-left: 3px;
}
.#{$prefix}-theme__mode-item {
  flex-shrink: 0;
  margin-right: 20px;
  line-height: 1;
  font-size: 0;
  position: relative;
  z-index: 0;
  &.\--active::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: 50%;
    left: 50%;
    background-color: $color-primary-06;
    border-radius: 5px;
    transform: translate3d(-50%, -50%, 0);
  }
}
.#{$prefix}-theme__color {
  display: flex;
  gap: 24px;
  max-width: 100%;
  flex-wrap: wrap;
  &:hover {
    .#{$prefix}-theme__color-item {
      transition-delay: 0s;
      opacity: 1;
    }
  }
}
.#{$prefix}-theme__color-item {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  opacity: .2;
  transition: all .4s;
  transition-delay: 0.6s;
  &.--active {
    opacity: 1;
  }
}

.#{$prefix}-theme__layout {
  display: flex;
  margin-bottom: 48px;
}
.#{$prefix}-theme__layout-item {
  flex-shrink: 0;
  margin-right: 12px;
  line-height: 1;
  position: relative;
  z-index: 0;
  width: 70px;
  height: 54px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 3px;
  &.\--active::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate3d(-50%, -50%, 0);
    background-color: $color-primary-06;
  }
  .__bg {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
  }
  .__a-1,
  .__a-2,
  .__b-1,
  .__b-2,
  .__c-1,
  .__c-2 {
    position: absolute;
    background-color: #e9ecef;
  }
  .__a-1 {
    width: 100%;
    height: 6px;
    z-index: 2;
    left: 0;
    top: 0;
  }
  .__a-2 {
    width: 14px;
    height: 100%;
    left: 0;
    top: 7px;
  }
  .__b-1,
  .__b-2 {
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .__b-2 {
    left: 7px;
    width: 14px;
  }
  .__c-1,
  .__c-2 {
    width: 14px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .__c-1 {
    top: calc(30% + 1px);
  }
  .__c-2 {
    height: 30%;
  }
}

[theme="dark"] {
  .#{$prefix}-theme__layout-item {
    .__bg {
      background-color: #282828;
      
    }
    .__a-1,
    .__a-2,
    .__b-1,
    .__b-2,
    .__c-1,
    .__c-2 {
      background-color: #494949;
    }
  }
}