.weapp-bind-page {
  padding: 24px;
}

.weapp-bind-section {
  margin-bottom: 64px;
  margin-left: 12px;
  h3 {
    position: relative;
    display: flex;
    font-size: 18px;
    top: -2px;
    button {
      margin-left: auto;
    }
  }
  p {
    margin-right: 120px;
  }
}

.#{$prefix}-timeline-item {
  &.--disabled {
    .weapp-bind-step {
      opacity: 0.4;
      filter: grayscale(1);
    }
    .weapp-bind-section {
      opacity: 0.4;
      h3 button {
        display: none;
      }
    }
  }
  &-head {
    background-color: $color-bg-300;
  }
}

[theme='dark'] {
  .#{$prefix}-timeline-item-head {
    background-color: $color-bg-100;
  }
}

.weapp-bind-step {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $color-info;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
}
