.#{$prefix}-slider {
  height: 10px;
  margin: 0;
  .#{$prefix}-slider-rail {
    background-color: $color-bg-500;
  }
  .#{$prefix}-slider-track {
    background: linear-gradient(to right, $color-primary-100, $color-primary);
  }
  .#{$prefix}-slider-handle {
    margin-top: -1px;
    border-radius: 1px;
    // border: none;
    border-color: $color-primary;
    // background-color: $color-text-base;
    &:focus {
      box-shadow: none;
    }
    &::after {
      border-radius: 2px;
      // box-shadow: 0 0 0 2px $color-primary-06;
      box-shadow: none;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
  }
  .#{$prefix}-slider-rail,
  .#{$prefix}-slider-track,
  .#{$prefix}-slider-step {
    height: 3px;
  }
}
.#{$prefix}-slider:hover .#{$prefix}-slider-handle:not(.#{$prefix}-tooltip-open) {
  border-color: $color-primary-hover;
}
.#{$prefix}-slider .#{$prefix}-slider-handle:hover::after,
.#{$prefix}-slider .#{$prefix}-slider-handle:active::after,
.#{$prefix}-slider .#{$prefix}-slider-handle:focus::after {
  width: 10px;
  height: 10px;
  inset-inline-start: 0;
  inset-block-start: 0;
  box-shadow: 0 0 0 2px $color-primary-06;
}
.#{$prefix}-slider:hover .#{$prefix}-slider-handle::after {
  box-shadow: 0 0 0 2px $color-primary-06;
}
