$bg-color: inherit;
$row-height: 22px; // 如果有改动 node.tsx 里也需要同步
.lego-json-view {
  font-size: 14px;
  line-height: $row-height;
  padding: 8px;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
}

.jv__node {
  position: relative;
  margin-left: 16px;
  background-color: $bg-color;
  .jv__label {
    display: inline-block;
    // display: inline;
  }
  &:hover {
    > .jv__dash {
      opacity: 0.3;
    }
  }

  &.type-object,
  &.type-array {
    margin-left: 0;
    display: block;
    > .jv__label {
      display: flex;
      cursor: pointer;
      .jv__key {
        opacity: 1;
        font-weight: bold;
      }
      &:hover {
        .jv__scope,
        .jv__ellipsis,
        & ~ .jv__scope {
          opacity: 1;
          color: $color-primary-hover;
        }
      }
      ~ .jv__scope {
        margin-left: 3px;
      }
    }
  }
}
.jv__label {
  height: 22px;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: $bg-color;
}
.jv__fold-icon {
  transition: all 0.3s;
  &.--active {
    transform: rotate(90deg);
  }
}
.jv__key {
  flex-shrink: 1;
  font-weight: 300;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
  border-radius: 2px;
  &:hover {
    color: $color-primary;
    background-color: $color-primary-hover-soft;
    font-weight: bold;
  }
}
.jv__quote {
  user-select: none;
}
.jv__colon {
  flex-shrink: 0;
  opacity: 0.3;
  font-weight: 300;
  margin-left: -2px;
}
.jv__scope {
  flex-shrink: 0;
  font-weight: 300;
  opacity: 0.4;
  font-size: 15px;
  transform: translate3d(0, -1px, 0);
}

.--string {
  color: #f39b4e;
}
.--null {
  color: #e74c3c;
}
.--number {
  color: #20bf6b;
  font-weight: bold;
}
.--boolean {
  color: #8276c9;
}
.--unknown {
  opacity: 0.4;
}

.--inline {
  display: inline;
  flex-shrink: 9999;
  user-select: text;
}

.jv__children {
  min-width: 100%;
  padding-left: calc(16px + 1em);
  padding-left: 1em;
  background-color: $bg-color;
}

.jv__dash {
  height: calc(100% - 44px);
  width: 2px;
  // border-left: 1px dashed $color-primary;
  background-color: $color-primary;
  position: absolute;
  top: 22px;
  left: 6px;
  opacity: 0;
  transition: all 0.3s;
}

.jv__ellipsis {
  color: $color-text-disabled;
  line-height: 1.4em;
}
