.p_payee-settings {
  margin: 0 32px 16px 32px;
  overflow: auto;
  position: relative;
  border-radius: 10px;
  &.loading {
    .p_payee-settings__form {
      opacity: 0.4;
    }
  }
}

.p_payee-settings__loading {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p_payee-settings__form {
  margin-top: 12px;
  max-width: 1000px;
  padding: 12px 0;
  background-color: $color-bg-300;
  border-radius: 8px;
}

.p_payee-settings__save {
  max-width: 1000px;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: sticky;
  bottom: 0;
  background-color: $color-bg-300;
  padding: 12px;
}
.p_payee-settings__rules {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}
.p_payee-settings__rule-item {
  display: flex;
  align-items: center;
  background-color: $color-bg-600;
  border: 1px solid $color-border-base;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  font-size: 13px;
  &:hover {
    .remove {
      color: $color-error;
    }
  }
  .remove {
    flex-shrink: 0;
    margin-left: 12px;
    font-size: 12px;
    color: $color-text-disabled;
  }
}
