.goods-detail-recs {
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 8px;
  .main-title {
    font-size: 16px;
    color: $color-text-strong;
    padding: 15px;
    font-weight: 500;
  }
}
