/*
  通用滚动条美化类：.ui-scrollbar / .
  - 仅负责原生滚动条的基础美化（WebKit/Chromium）
  - 若项目启用了 OverlayScrollbars，全局脚本会自动对该类进行增强
  - 宿主可按需在容器上添加该类以获得一致的滚动体验
*/

.ui-scrollbar{
  position: relative;
  /* 原生滚动条（WebKit）样式 */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}
/* 暗色主题适配 */
[theme="dark"] {
  .ui-scrollbar {
    &::-webkit-scrollbar-thumb {
      background: rgb(133, 133, 133);
    }
  }
}