[theme='dark'] {
  .lego-resource__menu {
    background-color: $color-bg-100;
  }
  .lego-resource__content {
    background-color: $color-bg-200;
  }
  .image-selector__item {
    background-color: $color-bg-500;
  }
}
