@import 'cropperjs/dist/cropper.css';

@mixin alpha-bg($color: #ddd) {
  background-image: linear-gradient(45deg, $color 25%, transparent 0, transparent 75%, $color 0),
    linear-gradient(45deg, $color 25%, transparent 0, transparent 75%, $color 0);
  background-position:
    0 0,
    6px 6px;
  background-size: 12px 12px;
}

.image-cropper-view {
  width: 1000px;
  height: 640px;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: row;
  user-select: none;
}
.image-cropper-view__container {
  width: 100%;
  height: 100%;
  background-color: $color-bg-400;
  border-radius: 12px;
  padding: 4px;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border: 4px solid $color-bg-400;
    border-radius: inherit;
    pointer-events: none;
  }
}
.image-cropper-view__content {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;
  border-radius: 10px;
}
.image-cropper-view__image {
  max-width: 100%;
  display: block;
}

.image-cropper-view {
  .cropper-modal {
    border-radius: 8px;
    overflow: hidden;
    background-color: $color-bg-400;
    opacity: 0.7;
  }
  .cropper-canvas {
    position: relative;
    z-index: 0;
  }
  .cropper-bg {
    border-radius: inherit;
    background: $color-bg-400 none;
    opacity: 1;
    @include alpha-bg(#9b9b9b);
  }
  .cropper-view-box {
    outline: 2px solid $color-primary;
  }
  .cropper-crop-box {
    z-index: 20;
  }
  .cropper-line {
    background: $color-primary-02 none;
    opacity: 1;
  }
  .cropper-point {
    width: 5px !important;
    height: 5px !important;
    background-color: $color-primary;
    transform: scale(2);
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border: 1px solid $color-primary;
    border-radius: 1px;
    opacity: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  .cropper-dashed {
    border: 1px solid $color-primary;
    opacity: 0.6;
    &.dashed-v {
      border-top: none;
      border-bottom: none;
    }
    &.dashed-h {
      border-left: none;
      border-right: none;
    }
  }
  .cropper-center {
    &::before,
    &::after {
      border-radius: 2px;
      transform: scale(2);
      background-color: #fff;
      filter: drop-shadow(0 0 2px #000);
    }
  }
}

.image-cropper-view__panel {
  flex-shrink: 0;
  width: 344px;
  padding: 8px;
  background-color: $color-bg-400;
  margin-left: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.image-cropper-view__info {
  overflow: hidden;
  background-color: $color-bg-300;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.image-cropper-view__form {
  border-radius: 8px;
  overflow: hidden;
  background-color: $color-bg-300;
  .jsf_form-item__widget {
    width: 214px;
  }
  .jsf_form,
  .jsf_form-content {
    width: 332px;
    .jsf_form-item__widget {
      width: 214px;
    }
  }
  .jsf_form-content {
    padding-right: 4px;
  }
  & + .image-cropper-view__form {
    margin-top: 8px;
  }
}

.image-cropper-view__header {
  display: flex;
  gap: 6px;
  margin-top: 12px;
  button {
    flex: 1;
    height: 40px;
  }
}

.image-cropper-view__toolbar {
  padding: 6px 6px 0 6px;
}

.image-cropper-view__summary {
  flex: 1;
  display: flex;
  // padding: 0 12px 12px 12px;
  padding-top: 8px;
}

.image-cropper-view__preview {
  flex-shrink: 0;
  width: 76px;
  max-height: 76px;
  // overflow: hidden;
  border-radius: 8px;
  // background-color: $color-bg-400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.image-cropper-view__thumbnail {
  border-radius: 4px;
  width: 76px;
  height: 76px;
  overflow: hidden;
  @include alpha-bg();
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  &.fill {
    background: #fff none;
  }
}

.image-cropper-view__custom-ratio {
  display: flex;
  align-items: center;
  gap: 8px;
}
