$max-height: calc(100vh - 24px);
.w_action-modal {
  // width: 400px;
  // height: 404px;
  padding: 24px;
}

.#{$prefix}-action__content {
  // width: 692px;
  // width: 554px;
}

.#{$prefix}-action {
  height: 100%;
  display: flex;
  align-items: stretch;
  // margin-top: 32px;

  max-height: $max-height;

  &.show-preview {
    .#{$prefix}-action__category {
      height: 558px + 24px;
    }
    .w_action-modal__configure {
      height: 660px + 24px;
    }
    .#{$prefix}-action__preview {
      width: 375px + 24px;
      height: 667px + 24px;
      padding: 12px;
      opacity: 1;
      max-height: calc($max-height - 12px);
      overflow: hidden auto;
      background-color: $color-bg-600;
    }
    .#{$prefix}-action__device {
      opacity: 1;
      transition: all 0.3s 0.2s;
    }
  }
}
.#{$prefix}-action__menu {
  background-color: #fff;
  // padding: 24px;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s;
  border-right: 1px solid $color-border-base;
}

.#{$prefix}-action__preview {
  width: 0;
  // height: 667px + 24px;
  height: 584px;
  transition: all 0.3s;
  border-right: 1px solid $color-border-base;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transform-origin: center center;
  opacity: 0;
  .#{$prefix}-action__device {
    width: 375px;
    height: 667px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

.#{$prefix}-action__content {
  flex: 1;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}
.#{$prefix}-action__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 24px 0 0 24px;
}
.#{$prefix}-action__title {
  padding: 24px 24px 16px 24px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.#{$prefix}-action__sub-title {
  font-size: 18px;
  font-weight: 500;
  margin: -2px 0 0;
}

.#{$prefix}-action__category {
  flex: 1 1;
  font-size: 14px;
  padding: 0 12px;
  overflow: hidden auto;
  overflow: hidden;
  height: 474px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  max-height: calc($max-height - 110px);
}
.#{$prefix}-action__category-item {
  flex-shrink: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 8px 0;
  border-radius: 4px;
  &:hover {
    color: $color-primary;
  }
  &.\--active {
    color: $color-primary;
    background-color: $color-primary-hover-soft;
    flex: 1;
    overflow: hidden auto;
  }
  .icon {
    font-size: 20px;
    margin-right: 8px;
  }
}

.action-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
  &.--disabled {
    cursor: not-allowed;
    .action-item__value {
      pointer-events: none;
    }
  }
}
.action-item__label {
  width: 120px;
}
.action-item__value {
  min-width: 180px;
  width: auto !important;
}

.action-devider {
  margin: 24px 0;
  height: 1px;
  background-color: $color-bg-50;
}

.w_action-modal__content {
  overflow: hidden;
  display: flex;
}
.w_action__preview {
  width: 0;
  overflow: hidden;
}
.w_action__preview-images {
  width: 375px * 0.8;
  height: 667px * 0.8;
  background-color: $color-bg-50;
}

.w_action-modal__action-list {
  flex: 1;
  overflow: scroll;
  overflow: hidden scroll;
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 36px,
    rgba(0, 0, 0, 1) calc(100% - 12px),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 36px,
    rgba(0, 0, 0, 1) calc(100% - 12px),
    rgba(0, 0, 0, 0)
  );
  padding: 12px 12px 24px 12px;
}
.w_action-modal__configure {
  width: 344px;
  // margin-left: 12px;
  // border-left: 1px solid $color-border-base;
  display: flex;
  flex-direction: column;
  // margin-bottom: 72px;
  padding-top: 14px;
  padding-left: 6px;
  height: 580px;
  transition: height 0.3s;
  max-height: calc($max-height - 0px);
}
.w_action-modal__configure-header {
  height: 40px;
  line-height: 40px;
  // margin-bottom: 12px;
  margin-left: 12px;
  // border-top: 1px solid $color-border-base;
  // border-bottom: 1px solid $color-border-base;
  // line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  max-width: 258px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  span {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    opacity: 0;
    font: inherit;
  }
  input {
    max-width: 220px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 0 0 24px;
    background: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: inherit;
    &:focus {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
.w_action-modal__remark-icon {
  // margin-left: 12px;
  height: 32px;
  width: 24px;
  padding-top: 3px;
}
.w_action-modal__configure-content {
  flex: 1;
  overflow: scroll;
  overflow: hidden scroll;
  padding-bottom: 68px;
  // -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 1) 128px);
  // mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 72px, rgba(0, 0, 0, 1) 128px);

  // .jsf-collapse__header {
  //   background-color: $color-bg-300;
  // }
}

.w_action-modal__configure-footer {
  margin-right: 4px;
  border-bottom: 1px solid $color-border-base;
}

.w_action-modal__footer {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  position: absolute;
  z-index: 50;
  bottom: 0;
  right: 0;
  .#{$prefix}-btn {
    width: 68px;
    height: 32px;
  }
}
.w_action-modal__configure-empty {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10%;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-text-disabled);
  line-height: 1;
}

.w_action__search {
  padding: 0 12px 12px 12px;
  .#{$prefix}-input,
  .#{$prefix}-input-affix-wrapper {
    border-radius: 5px;
  }
}

.w_action__category-item {
  width: 280px;
  flex-shrink: 0;
  background-color: $color-bg-400;
  margin-bottom: 8px;
  border-radius: 5px;
  // overflow: hidden;
  padding-bottom: 1px;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  border: 1px solid $color-border-base;
  transition: all 0.3s;
  &.\--active,
  &.\--filter {
    flex-shrink: inherit;
    overflow: hidden auto;
    background-color: $color-bg-400;

    // .w_action__category-label {
    //   color: $color-primary;
    // }
    .w_action__action {
      height: 36px;
      opacity: 1;
      margin-bottom: 8px;
    }
    .w_action__action {
      transition: all 0.3s ease-out;
    }
    .arrow {
      transform: rotate(-180deg);
    }
  }
  &:hover {
    border-color: $color-primary;
  }
}

.w_action__category-label {
  width: inherit;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  // border-radius: inherit;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: inherit;
  strong {
    margin-left: 8px;
  }
  iconpark-icon {
    font-size: 18px;
  }
  .arrow {
    margin-left: auto;
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.w_action__action {
  width: 254px;
  display: flex;
  align-items: center;
  height: 36px;
  height: 0;
  opacity: 0;
  // transition: all 0.3s;
  overflow: hidden;
  padding: 0 12px;
  margin: 0 12px;
  background-color: $color-bg-300;
  border-radius: 2px;
  cursor: pointer;
  // border: 1px solid $color-border-base;
  position: relative;
  z-index: 0;
  &:hover {
    color: $color-primary-08;
  }
  &.\--active {
    color: $color-primary;
    &::before {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      background-color: $color-primary;
    }
  }
}
