.color-text-inherit {
  color: inherit;
}
.color-success {
  color: $color-success;
}
.color-error {
  color: $color-error;
  &:hover {
    color: $color-error-hover;
  }
  &:active {
    color: $color-error;
  }
}
.color-info {
  color: $color-info;
}
.color-warn {
  color: $color-warn;
}
.color-primary--hover:hover,
.color-primary--active:active,
.color-primary {
  color: $color-primary;
}
.color-disabled {
  color: $color-text-disabled;
}

.color-secondary {
  color: $color-text-secondary;
}

.color-tertiary {
  color: $color-text-tertiary;
}

.ant-select-selection-item .anteng-text-base {
  color: var(--color-text-base) !important;
}

.max-2-rows {
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.number-font {
  font-family: 'DIN Alternate', sans-serif;
}
