.drag-comps__panel {
  border-top: 1px solid $color-border-base;
  flex: 1;
  max-height: 48%;
  display: flex;
  flex-direction: column;
  // overflow: hidden auto;
  overflow: hidden;
}
.drag-comps__header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-top: 1px solid $color-border-base;
  color: $color-text-secondary;
  font-size: 12px;
}
.drag-comps__list {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  padding-bottom: 24px;
  overflow: hidden auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
.drag-comps__type {
  flex-shrink: 0;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 20;
  font-size: 14px;
  background-color: $color-bg-300;
  font-weight: 600;
  color: $color-text-secondary;
  padding: 0 12px;
  // border-bottom: 1px solid $color-border-base;
  &::after {
    content: '';
    width: 32px;
    height: 3px;
    background-color: $color-text-base;
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: all 0.3s;
  }
  &[data-type='common'] {
    .drag-comps__type-item:nth-child(1) {
      opacity: 1;
    }
    &::after {
      left: 24px;
    }
  }
  &[data-type='content'] {
    .drag-comps__type-item:nth-child(2) {
      opacity: 1;
    }
    &::after {
      left: 92px;
    }
  }
  &[data-type='scope'] {
    .drag-comps__type-item:nth-child(3) {
      opacity: 1;
    }
    &::after {
      left: 160px;
    }
  }
}
.drag-comps__type-item {
  margin-right: 12px;
  opacity: 0.4;
  cursor: pointer;
}

.drag-comp-item {
  flex-shrink: 0;
  width: calc(50% - 4px);
  padding: 8px 8px 0 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s;
  background-color: $color-bg-400 !important;
  position: relative;
  &:nth-child(2n + 2) {
    margin-left: 8px;
  }
  &:nth-child(n + 3) {
    margin-top: 8px;
  }
  &:hover {
    background-color: $color-primary-01 !important;
    border: 2px solid $color-primary !important;
  }
}
.drag-comp-item__thumbnail {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  background-color: $color-bg-300;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: '暂无图片';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.2;
    white-space: nowrap;
    letter-spacing: 2px;
    font-size: 12px;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 6px;
  }
}
.drag-comp-item__text {
  padding: 6px 0;
}
.drag-comp-item__name {
  font-size: 14px;
  color: $color-text-secondary;
  font-weight: 600;
  margin-top: 2px;
}

#deck-out-screen-drag-tip {
  position: fixed;
  bottom: 0;
  left: -1000px;
  padding-left: 24px;
  padding-top: 24px;
  div {
    color: #fff;
    background-color: $color-primary-hover;
    padding: 2px 8px;
    border-radius: 4px;
  }
}
