.FaceValueWidget {
  display: flex;
  flex-direction: column;
  .top-button-content {
    margin-bottom: 10px;
  }
}
.table-head-cell {
  &:before {
    content: '*';
    display: flex;
    width: 10px;
    color: var(--ice-color-primary-09);
  }
}
.isRequired {
  &::before {
    content: '*';
    color: $color-primary-active;
  }
}
