.anteng-search {
  min-height: 24px;
  height: 100%;
  padding: 0 8px 0 16px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: normal;
  position: relative;
  z-index: 0;
  &.clearable {
    .anteng-search__input-wrap {
      padding-right: 24px;
    }
    .anteng-search__clear {
      opacity: 0.4;
      pointer-events: initial;
    }
  }
}
.anteng-search__content {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.anteng-search__icon {
  margin-right: 4px;
  opacity: 0.3;
  margin-left: -6px;
}
.anteng-search__input-wrap {
  position: relative;
  flex: 1;
}
.anteng-search__input {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
  flex: 1;
  color: inherit;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.anteng-search__placeholder {
  height: 100%;
  position: absolute !important;
  z-index: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: inherit;
  font-weight: inherit;
  opacity: 0.3;
}
.anteng-search__clear {
  // margin-right: -4px;
  width: 24px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  color: currentColor;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}
