.use-file-render {
  position: relative;
  --item-size: 60px;
  --item-gap: 4px;
  &:hover {
    .call-modal {
      display: flex;
    }
  }
  .call-modal {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: $color-bg-600;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    border: 1px solid $color-border-base;
    font-size: 18px;
    display: none;
  }
}
.use-file-render-content {
  overflow: auto;
  max-height: auto;
}

@include dark-mode {
  .use-file-render .call-modal {
    background-color: $color-bg-50;
  }
  .use-file-render__medias .audio .icon {
    color: $color-bg-50 !important;
  }
}

.use-file-render__medias {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--item-gap);
  gap: var(--item-gap);
  font-size: 0; // 解除图片缝隙
  img {
    flex-shrink: 0;
    width: var(--item-size);
    height: var(--item-size);
    border-radius: 4px;
    object-fit: cover;
  }
  .video {
    flex-shrink: 0;
    position: relative;
    &::after {
      content: '视频';
      font-size: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
      color: #fff;
      background-color: $color-primary;
      border-radius: 3px;
      padding: 1px 6px;
    }
  }
  video {
    object-fit: cover;
    width: var(--item-size);
    height: var(--item-size);
    border-radius: 4px;
  }
  .audio {
    flex-shrink: 0;
    width: auto;
    height: auto;
    object-fit: cover;
    width: var(--item-size);
    height: var(--item-size);
    border-radius: 4px;
    position: relative;
    background-color: $color-bg-600;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 40px;
      pointer-events: none;
      color: $color-bg-900;
    }
    &::after {
      content: '音频';
      font-size: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
      color: #fff;
      background-color: $color-primary;
      border-radius: 3px;
      padding: 1px 6px;
    }
  }
  .file {
    flex-shrink: 0;
    width: var(--item-size);
    height: var(--item-size);
    border-radius: 4px;
    position: relative;
    background-color: $color-bg-600;
    display: flex;
    justify-content: center;
    align-items: center;
    .name {
      font-size: 12px;
      white-space: wrap;
      overflow: hidden;
      font-weight: bold;
      opacity: 0.4;
    }
    .extension {
      font-size: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
      color: #fff;
      background-color: $color-primary;
      border-radius: 3px;
      padding: 1px 6px;
    }
  }
}

.use-file-render__files {
  overflow: hidden;
}
.use-file-render__file-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: $color-bg-600;
  padding: 6px 8px;
  margin-bottom: var(--item-gap);
  border-radius: 4px;
  .name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .extension {
    flex-shrink: 0;
    background-color: $color-primary-02;
    color: $color-primary;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1;
    margin-left: 8px;
  }
}

.use-file-render-modal {
  padding: 0 24px 20px 24px;
  width: 666px;
  max-height: 80vh;
  overflow: auto;
  --item-size: 200px;
  --item-gap: 8px;
  .use-file-render-content {
    max-height: auto !important;
    max-height: unset !important;
  }
  .use-file-render__medias {
    .audio .icon {
      font-size: 120px;
    }
    .file .name {
      font-size: 24px;
    }
  }
}
