.c_title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c_title__content {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 0;
}

.c_title__arrow-wrapper {
  position: relative;
  width: 0;
  align-self: stretch;
}

.c_title__arrow {
  padding-top: 2px;
  display: flex;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
}

.c_title__arrow-text {
  font-size: inherit;
  vertical-align: middle;
  white-space: nowrap;
}

.c_title__arrow-icon {
  font-size: inherit !important;
  margin-left: 2px;
}

.c_title__prefix-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 8px;
}
