$folder-size: 20px;
$min-indent: 6px;

.deck_layer-tree {
  padding-top: 1px; // 防止节点边框显示不全
  &.dragging {
    .c_layer-node:hover:not(.bordered)::before {
      content: none !important;
    }
  }
  &.drop-over-above {
    .c_layer-node__tick {
      top: -1px;
    }
  }
  &.drop-over-below {
    .c_layer-node__tick {
      bottom: -1px;
    }
  }
}

.c_layer-node {
  position: relative;
  margin-left: 1px;
  // background-color: rgba(red, 0.1);
  &.dragging,
  &.hidden {
    .c_layer-node__folder,
    .c_layer-node__icon,
    .c_layer-node__name {
      opacity: 0.4;
    }
  }
  &.selected {
    background-color: $color-primary-03;
  }
  &.inherit-selected {
    background-color: $color-primary-01;
  }
  &.dragging {
    pointer-events: none;
    &::before {
      content: '';
      width: 100%;
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: 0;
      border: 2px dashed $color-primary-04;
      pointer-events: none;
    }
  }
  &:hover,
  &.bordered {
    &::before {
      content: '';
      width: 100%;
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: 0;
      border: 2px solid $color-primary;
      pointer-events: none;
    }
  }
}
.c_layer-node__content {
  display: flex;
  align-items: center;
  height: fit-content;
  height: 40px;
  position: relative;
  overflow: hidden;
  // &:hover,

  &:hover {
    .c_layer-node__locked,
    .c_layer-node__hidden {
      visibility: visible;
    }
  }
}

.c_layer-node__indent {
  height: 100%;
  width: $min-indent;
  flex-shrink: 0;
  // background-color: $color-bg-400;
  // background-color: rgba(pink, 0.1);
}

.c_layer-node__folder {
  width: $folder-size;
  height: $folder-size;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  .icon {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
  &:hover {
    background-color: $color-primary-02;
  }
  &[data-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.expanded {
    .icon {
      transform: rotate(0);
    }
  }
}
.c_layer-node__icon {
  width: 24px;
  height: 24px;
  // background-color: #f3f3f3;
  flex-shrink: 0;
  margin-left: 2px;
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
  .icon {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: inherit;
  }
}

.c_layer-node__name {
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: 8px;
}

.c_layer-node__status {
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
  // margin-right: 16px;
  margin-right: 10px;
}

.c_layer-node__locked,
.c_layer-node__hidden {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  // background-color: #f3f3f3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-disabled;
  border-radius: 4px;
  visibility: hidden;

  .dot {
    width: 4px;
    height: 4px;
    background-color: currentColor;
    border-radius: 50%;
  }

  &:hover {
    background-color: $color-primary-02;
    color: $color-text-base;
  }

  &.active {
    visibility: visible;
    color: $color-text-base;
  }
  &.inherited {
    visibility: visible;
    color: $color-text-base;
  }
}

.c_layer-node__tick {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: $color-primary;
  height: 2px;
  transition: width 0.3s;
  &::after {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;

    background-color: #fff;
    border: 2px solid $color-primary;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-100%, -50%, 0);
  }
}

@include dark-mode {
  .c_layer-node__tick::after {
    background-color: $color-primary;
    border: 2px solid #fff;
  }
}
