.content-text {
  color: #000000;
  line-height: 1.5 !important;
  display: -webkit-box;
  text-overflow: ellipsis;
}

.collapse {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* .collapse-text-container {
  position: relative;
  height: fit-content;
  font-size: 13px;
  padding-bottom: 20px;
  .controller-text {
    font-size: inherit;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--ice-color-primary);
  }
} */
.collapse-text-container {
  position: relative;
  width: 100%;
  .collapse {
    width: 100%;
    line-height: 1.5;
    //    mask: linear-gradient(270deg, transparent, transparent 30%, #000), linear-gradient(0deg, #000, #000);
    mask: linear-gradient(270deg, transparent 45px, transparent 35px, #000) 78%, linear-gradient(0deg, #000, #000) 79%;
    mask-size: 100% 17px, 100% calc(100% - 17px);
    mask-position: bottom, top;
    mask-repeat: no-repeat;
  }
  .controller-text {
    /* &:before {
      content: "展开";
    } */
    position: absolute;
    bottom: -5px;
    right: 0;
    color: var(--ice-color-primary);
  }
}
