// 部分扩展功能的样式
.multiple-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
// 多选选择器的样式
.selector-placeholder {
  color: var(--color-text-base);
}
[theme='dark'] {
  .tag-multiple-options-ssp {
    // 深色模式下的样式
  }
}
.tag-multiple-options-ssp {
  color: var(--ice-color-primary-900);
  background: var(--ice-color-primary-100);
}
