// $color-bg-50: #555;
.#{$prefix}-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-text-base;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  .#{$prefix}-pagination-item {
    border-color: $color-border-base;
    background: $color-bg-50;
    border-radius: 4px;
    a {
      color: $color-text-base;
    }
    &:hover {
      border-color: $color-primary;
      a {
        color: $color-primary;
      }
    }
  }
  .#{$prefix}-pagination-item-active {
    background: $color-bg-50;
    border-color: $color-primary;
    border-width: 1px;
    background: $color-primary-02;
    a {
      color: $color-text-base;
    }
  }
  .#{$prefix}-pagination-prev .#{$prefix}-pagination-item-link,
  .#{$prefix}-pagination-next .#{$prefix}-pagination-item-link {
    background-color: $color-bg-50;
    border: 1px solid $color-border-base;
    border-radius: 4px;
  }
  .#{$prefix}-pagination-disabled .#{$prefix}-pagination-item-link,
  .#{$prefix}-pagination-disabled:hover .#{$prefix}-pagination-item-link {
    color: $color-text-disabled;
    border: 1px solid $color-border-base;
  }
  .#{$prefix}-pagination-prev .#{$prefix}-pagination-item-link,
  .#{$prefix}-pagination-next .#{$prefix}-pagination-item-link {
    color: $color-text-base;
  }
  .#{$prefix}-pagination-jump-prev .#{$prefix}-pagination-item-container .#{$prefix}-pagination-item-ellipsis,
  .#{$prefix}-pagination-jump-next .#{$prefix}-pagination-item-container .#{$prefix}-pagination-item-ellipsis {
    color: $color-text-disabled;
  }
  .#{$prefix}-pagination-options .#{$prefix}-select-selector {
    background-color: $color-bg-50 !important;
    height: initial !important;
    border-radius: 4px !important;
  }
  .#{$prefix}-pagination-options-quick-jumper {
    margin-left: 16px;
    input {
      background-color: $color-bg-50;
      border-color: $color-border-base;
      color: inherit;
      font-weight: 500;
      border-radius: 4px;
      &:hover {
        border-color: $color-primary;
      }
      &:focus {
        box-shadow: 0 0 0 4px $color-primary-02;
      }
    }
  }
}
.ice-table-wrapper .ice-table-thead th.ice-table-column-sort {
  background: $color-bg-100;
  &:hover {
    background: $color-bg-100;
  }
}
.ice-table-wrapper .ice-table-thead th.ice-table-column-has-sorters:hover {
  background: $color-bg-100;
}
