.image-process {
  // width: 100%;
  height: 100%;
  position: relative;
}

.image-process__limit-tip {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(50px, -48px, 0);
  color: $color-text-tertiary;
}

.image-process__input {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: $color-primary-01;
  display: flex;
  flex-direction: column;
  line-height: 2;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px dashed $color-primary;
  color: $color-primary;
  font-size: 16px;
  div {
    position: relative;
    z-index: 2;
    pointer-events: none;
    .icon {
      pointer-events: all;
    }
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &.input-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.input-visible {
    opacity: 1;
    pointer-events: all;
    & + .image-process__input-tip {
      opacity: 0;
    }
    & + .image-process__input-tip + .image-process__list,
    & + .image-process__list {
      opacity: 0;
    }
  }
}
.image-process__multiple-tip {
  background-color: $color-primary;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 12px;
}
.image-process__list {
  overflow: hidden auto;
  height: 350px;
  transition: all 0.3s;
}
.image-process__list-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.image-process__item {
  object-fit: contain;
  background-color: $color-bg-700;
  margin-right: 12px;
  width: calc((100% - 36px) / 3);
  height: 0;
  padding-bottom: calc((100% - 36px) / 3);
  border-radius: 8px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    animation: item-active 0.6s 3;
  }
  @keyframes item-active {
    0%,
    100% {
      background-color: $color-bg-700;
    }
    50% {
      background-color: $color-primary;
    }
  }
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  img {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    object-fit: contain;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 6px;
  }
}
.image-process__item-size {
  position: absolute;
  z-index: 0;
  bottom: 3px;
  right: 3px;
  background-color: var(--ice-color-primary);
  border-radius: 0 5px 5px 0;
  padding: 2px 7px 2px 4px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  filter: drop-shadow(0 0 0.5px rgba(#000, 0.4));
  &::before {
    content: '';
    width: 8px;
    height: 100%;
    background-color: inherit;
    position: absolute;
    z-index: -1;
    left: -2px;
    top: 0;
    transform: skew(-10deg);
  }

  .wh {
    position: absolute;
    left: -7px;
    top: 0;
    height: 100%;
    white-space: nowrap;
    transform: translate3d(-100%, 0, 0);
    background-color: $color-bg-50;
    display: flex;
    align-items: center;
    padding: 0 3% 0 6px;
    border-radius: 5px 0 0 5px;
    color: $color-text-disabled;
    &.error {
      background-color: $color-error;
      color: #fff !important;
      .w,
      .h {
        color: #fff !important;
      }
    }
    .w,
    .h {
      color: $color-success;
      &.error {
        color: #fff;
      }
    }
    &::before {
      content: '';
      width: 8px;
      height: 100%;
      background-color: inherit;
      position: absolute;
      z-index: -1;
      right: -2px;
      top: 0;
      transform: skew(-10deg);
    }
  }
}

$green: rgb(39, 174, 96);
$yellow: rgb(241, 196, 15);
$red: rgb(235, 47, 6);
.image-process__indicator {
  flex-shrink: 0;
  width: 100%;
  height: 6px;
  background-image: linear-gradient(to right, $green, $yellow 70%, $red);
  margin-top: 32px;
  margin-bottom: -8px;
  position: relative;
  z-index: 2;

  &.unlimited {
    width: 80%;
    &::after {
      content: '';
      width: 25%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 100%;
      top: 0;
      background-color: $red;
    }
  }
  .point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    &::after {
      content: '';
      position: absolute;
      bottom: 12px;
      left: 0;
      white-space: nowrap;
      color: $color-text-disabled;
    }
  }
  .point1 {
    background-color: $green;
  }
  .point2 {
    background-color: $yellow;
    left: 70%;
    &::after {
      content: attr(data-value);
      color: $yellow;
      transform: translate3d(-40%, 0, 0);
    }
  }
  .point3 {
    background-color: $red;
    left: 100%;
    &::after {
      content: attr(data-value);
      color: $red;
      transform: translate3d(-80%, 0, 0);
    }
  }
  .anchor {
    position: absolute;
    left: 0;
    transform: translate3d(-50%, 0, 0);
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: #fff;
    overflow: hidden;
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:hover {
      border-color: $color-primary;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .anchor-hover {
    position: absolute;
    z-index: 101;
    left: 0;
    transform: translate3d(-50%, 0, 0);
    bottom: 16px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid $color-primary;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.3s;
    background-color: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.image-process__guides {
  width: 450px;
  padding: 8px 8px 10px 8px;
  color: $color-text-base;
  img {
    border-radius: 4px;
  }
}
