.w_rich-text {
  padding-top: 7px;
}

.jsf_form--compact {
  // .w_rich-text {
  //   width: 100%;
  //   height: 300px;
  //   overflow: auto;
  // }
  .w_rich-text__preview,
  .w_rich-text__preview--empty {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    border-width: 1px;
  }
}

.w_rich-text__toolbar {
  // width: 80px;
  display: flex;
  a {
    display: flex;
    align-items: center;
  }
}

.w_rich-text__preview {
  width: 375px + 24px;
  max-height: 667px + 16px;
  overflow: hidden auto;

  background-color: #fff;
  border-radius: $border-radius-base;
  border: 2px solid #eee;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  padding: 8px 12px;
  margin-top: 12px;
}

.w_rich-text__preview--empty {
  width: 375px;
  min-height: 180px;
  border: 1px solid $color-border-base;
  background-color: $ui-bg;
  border-radius: $ui-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w_rich-text__content {
  width: 375px;
  img {
    max-width: 100%;
    font-size: 0;
  }
}
