.#{$prefix}-switch {
  background-color: $ui-switch-bg;
  &:hover:not(&-disabled) {
    background-color: $ui-switch-bg-hover;
  }
  &:focus {
    outline-color: $color-primary;
  }
  .#{$prefix}-switch-handle {
    background: transparent;
  }
}
.#{$prefix}-switch.#{$prefix}-switch-checked {
  background-color: $color-primary;
  &:hover:not(.#{$prefix}-switch-disabled) {
    background-color: $color-primary-hover;
  }
}
