@import '../../../../../styles/src/variables/index.scss';

.deck-editor-render {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  font-size: 1rem !important;
  line-height: 1.3;
  @import './uno.scss';
}

.deck-editor-render__device {
  transform: scale(1);
  transform-origin: top center;
  // transition: all .3s;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  overflow: visible;
  background-color: #f5f5f5;
  font-size: 14px;
  // margin-right: -48px;
  --nav-height: 88rem;
  &.--immersive {
    .deck-editor-render__viewport {
      padding-top: 0 !important;
    }
    .deck-editor-render__navigator {
      background: none;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.deck-editor-render__navigator {
  position: absolute;
  z-index: 80;
  font-size: 0;
  // margin-left: 120px;
  background-color: rgba(255, 255, 255, 0.96);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transform-origin: top left;
  color: #121212;

  // background-color: #121212;
  // color: #fff;

  &::before,
  &::after {
    content: '';
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, $color-bg-700 4px, transparent);
    pointer-events: none;
  }
  &::before {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  &::after {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.deck-editor-render__viewport {
  flex: 1;
  width: 100%;
  box-sizing: content-box;
  position: relative;
  overflow: hidden auto;
  // padding: 0 120px 0 120px;
  // margin-left: -120px;

  padding: 0 200px;
  margin-left: -200px;

  scroll-behavior: smooth;
  // -webkit-mask-image: linear-gradient(to bottom, transparent, black 88px);
  // mask-image: linear-gradient(to bottom, transparent, black 88px);
  pointer-events: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.deck-editor-render__view {
  width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  background-color: #f5f5f5;
  font-size: inherit;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  &::before {
    content: '';
    width: 100%;
    height: 188px;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.deck-editor-render__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 80;
  height: 32px;
  font-size: 0;
  width: 100%;

  &::before,
  &::after {
    content: '';
    width: 120px;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, $color-bg-700 4px, transparent);
    pointer-events: none;
  }
  &::before {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  &::after {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}
