@include dark-mode {
  .#{$prefix}-btn-default {
    background-color: rgba($color-neutral, 0.6);
    color: #fff;
    &:not(:disabled):hover {
      background-color: rgba($color-neutral, 0.8);
      color: #fff;
    }
    &:not(:disabled):active {
      background-color: rgba($color-neutral, 0.4);
      color: #fff;
    }
  }
  .#{$prefix}-btn-default:disabled {
    opacity: 0.4;
  }
  .#{$prefix}-btn-dashed {
    border: 1px dashed rgba($color-neutral, 0.8);
    &:disabled {
      border: 1px dashed rgba($color-neutral, 0.8);
    }
  }
  .#{$prefix}-btn-dangerous {
    background-color: $color-error;
    &:not(:disabled):hover {
      background-color: $color-error-hover;
    }
  }
}
.#{$prefix}-btn {
  box-shadow: none;
  border: none;
  border-radius: $ui-border-radius;
  &.#{$prefix}-btn-loading {
    cursor: unset;
  }
}
.#{$prefix}-btn-default {
  background-color: rgba($color-neutral, 0.1);
  &:not(:disabled):hover {
    background-color: rgba($color-neutral, 0.15);
    color: $color-text-base;
  }
  &:not(:disabled):active {
    background-color: rgba($color-neutral, 0.2);
    color: $color-text-base;
  }
}
.#{$prefix}-btn-primary {
  background-color: $color-primary;
  span {
    color: #fff !important;
  }
  &:not(:disabled):hover {
    background-color: $color-primary-400;
  }
  &:not(:disabled):active {
    background-color: $color-primary-600;
  }
  &:disabled {
    opacity: 0.4;
    color: #fff;
  }
}
.#{$prefix}-btn-dangerous {
  background-color: $color-error;
  span { color: #fff !important; }
  &:not(:disabled):hover {
    background-color: $color-error-hover;
  }
  &:disabled {
    opacity: 0.4;
    color: #fff;
  }
}
.#{$prefix}-btn-dashed {
  border: 1px dashed rgba($color-neutral, 0.4);
  background: none;
  color: $color-text-base;
  &:not(:disabled):hover {
    border-color: $color-primary-400;
    color: $color-primary-400;
  }
  &:not(:disabled):active {
    border-color: $color-primary-600;
    color: $color-primary-600;
  }
  &:disabled {
    border: 1px dashed rgba($color-neutral, 0.4);
    background: none;
    color: $color-text-base;
    opacity: 0.4;
  }
}
.#{$prefix}-btn-link {
  color: $color-primary;
  &:not(:disabled):hover {
    color: $color-primary-400;
  }
  &:not(:disabled):active {
    color: $color-primary-600;
  }
  &:disabled {
    color: $color-primary;
    opacity: 0.4;
  }
}
// 浅色/深色模式下按钮里面的icon样式
/*
html[theme="dark"] {
  .#{$prefix}-color-controller {
    // 它里面的按钮
    .#{$prefix}-icon {
      margin-right: 3px;
      color: $color-bg-100;
    }
  }
}
html[theme="light"] {
  .#{$prefix}-color-controller {
    // 它里面的按钮
    .#{$prefix}-icon {
      margin-right: 3px;
      color: $color-bg-100;
    }
  }
}*/
