.deck-page-tag {
  font-size: 11px;
  color: $color-primary;
  padding: 3px 5px;
  border: 1px solid $color-primary;
  margin-left: 8px;
  border-radius: 2px;
  background-color: $color-primary-01;
}

.w_common-selector {
  width: 100%;
  min-height: $jsf-ui-component-height;
  background-color: $ui-bg;
  border-radius: $border-radius-base;
  border: $border-base;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s;
  &:hover {
    border-color: $color-primary;
    .w_common-selector__icon.--checked {
      display: none;
    }
    .w_common-selector__icon.--remove {
      display: flex;
    }
  }
}
.w_common-selector__icon {
  height: $jsf-ui-component-height;
  width: $jsf-ui-component-height;
  margin: 0 0 0 2px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  opacity: 0.4;
}
.w_common-selector__placeholder {
  opacity: 0.4;
}
.w_common-selector__title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w_common-selector__icon.--checked {
  margin: 0;
  color: $color-success;
  opacity: 1;
}
.w_common-selector__icon.--remove {
  font-size: 12px;
  display: none;
  margin: 0;
  transition: all 0.3s;
  &:hover {
    color: $color-error;
    opacity: 1;
  }
}
