.custom-page-error {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ddd;
  font-weight: bold;
}

.index-page__tab-page .custom-page-content {
  padding-bottom: 12px;
  @include safe-area-inset-bottom(padding-bottom, 49px + 12px);
}
