.w_tag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 0;
  .ice-tag,
  svg {
    color: var(--color-text-base);
  }
  .w_tag__input {
    width: 76px !important;
    height: 28px !important;
    line-height: 26px;
  }
  .w_tag__add {
    width: 76px;
    height: 28px;
    line-height: 26px;
    padding: 0 0 0 6px;
    text-align: left;
    border: 1px dashed $color-text-disabled;
    background-color: transparent;
    color: $color-text-disabled;
    &:hover {
      border: 1px dashed $color-primary;
      color: $color-primary;
    }
  }
}
