.w_tiny-mce {
  display: flex;
  place-items: center;
  // width: 375px;
  padding: 8px;
  max-width: 1200px;
  width: 80vw;
  .mce-editor {
    flex: 1;
    height: 80vh;
    // min-height: 667px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    p {
      margin: 0;
    }
    .tox {
      height: 100% !important;
      font-size: 14px;
      color: red;
      .tox-toolbar__group {
        padding: 0 0 0 8px;
      }
      .tox-edit-area {
        width: 375px;
        margin: 0 auto;
      }
      .tox-edit-area__iframe {
        // background-color: pink;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .tox-tbtn {
      &[title='135编辑器'] {
        color: $color-primary;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .mce-editor-loading {
    background-color: inherit;
    border-radius: inherit;
    border: 2px solid #eee;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 12px;
    color: #556677;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }
  // .tox-sidebar-wrap {
  //   width: 500px;
  //   margin: 12px auto;
  // }
  .mce-preview {
    width: 375px;
    height: 667px;
    max-height: 667px;
    overflow: hidden auto;
    align-self: stretch;
    margin-left: 12px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #eee;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
  }
}

.rich-text-editor-modal-content {
  padding: 0 12px 12px;
  margin-top: -8px;
  // &::before {
  //   content: '预览区域';
  //   position: absolute;
  //   top: 18px;
  //   right: 390px;
  //   transform: translate3d(100%, 0, 0);
  //   color: inherit;
  //   font-size: 18px;
  //   font-weight: 700;
  // }
}

.rich-text-editor-modal-btn {
  position: absolute;
  top: -36px;
  right: 12px;
  display: flex;
  gap: 12px;
}

// .rich-text-editor-modal {
//   .${prefix}-modal-close {
//     color: #000;
//     &:hover {
//       color: $color-error;
//       background-color: rgba(0, 0, 0, 0.05);
//     }
//   }
// }

.tox-tbtn[title='切换视图模式'] {
  background-color: #f7f7f7 !important;
  width: 120px !important;
  cursor: pointer !important;
  & > * {
    pointer-events: none;
  }
}
