.#{$prefix}-input,
.#{$prefix}-input-affix-wrapper {
  border-radius: $ui-border-radius;
  border-color: $ui-border-color;
  color: $color-text-base;
  padding: 0 8px;
  height: $jsf-ui-component-height;
  &:hover,
  &:focus {
    background-color: $ui-bg-hover;
    border-color: $ui-border-color;
  }
}
.#{$prefix}-input-affix-wrapper:not(.#{$prefix}-input-affix-wrapper-disabled) {
  &:hover {
    background-color: $ui-bg-hover;
    border-color: $ui-border-color;
  }
}
.#{$prefix}-input,
.#{$prefix}-input-affix-wrapper {
  &:focus,
  &-focused {
    border-color: $ui-border-color-focus !important;
    box-shadow: $ui-wave;
    border-inline-end-width: 1px;
    outline: 0;
  }
}
.#{$prefix}-input-affix-wrapper .#{$prefix}-input {
  background: none;
  height: calc($jsf-ui-component-height - 2px);
}
.#{$prefix}-input::placeholder,
.#{$prefix}-input-placeholder {
  color: $color-text-disabled;
}
