.c_spin {
  width: 68px;
  height: 68px;
  font-size: inherit;
  // background-image: url(https://cdn.cardcat.cn/spin.png);
  // background-size: auto 100%;
  // background-position: 0 0;
  // animation: c_spin 1.6s steps(43) infinite;
}

// @keyframes c_spin {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: 100% 0;
//   }
// }
