// 字体
.number-font {
  font-family: AlibabaSans102v1TaoBao-Bold, sans-serif;
}

@font-face {
  font-family: AlibabaSans102v1TaoBao-Bold;
  src: url('//g.alicdn.com/taobaodesign/alibaba-sans-102-taobao-font/0.0.1/AlibabaSans102_v1_TaoBao-Bd.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}
