// 蓝色一定要放最前面，这个是默认的颜色，方便被覆盖

/** 主题色 - blue  **/
.primary-color-blue,
:root[primary-color='blue'],
[primary-color='blue'] {
  --ice-color-primary: #3b82f6;
  --ice-color-primary-rgb: 59, 130, 246;
  --ice-color-primary-50: #eff6ff;
  --ice-color-primary-100: #dbeafe;
  --ice-color-primary-200: #bfdbfe;
  --ice-color-primary-300: #93c5fd;
  --ice-color-primary-400: #60a5fa;
  --ice-color-primary-500: #3b82f6;
  --ice-color-primary-600: #2563eb;
  --ice-color-primary-700: #1d4ed8;
  --ice-color-primary-800: #1e40af;
  --ice-color-primary-900: #1e3a8a;
  --ice-color-primary-950: #172554;
}

/** 主题色 - slate  **/
.primary-color-slate,
:root[primary-color='slate'],
[primary-color='slate'] {
  --ice-color-primary: #64748b;
  --ice-color-primary-rgb: 100, 116, 139;
  --ice-color-primary-50: #f8fafc;
  --ice-color-primary-100: #f1f5f9;
  --ice-color-primary-200: #e2e8f0;
  --ice-color-primary-300: #cbd5e1;
  --ice-color-primary-400: #94a3b8;
  --ice-color-primary-500: #64748b;
  --ice-color-primary-600: #475569;
  --ice-color-primary-700: #334155;
  --ice-color-primary-800: #1e293b;
  --ice-color-primary-900: #0f172a;
  --ice-color-primary-950: #020617;
}

/** 主题色 - gray  **/
.primary-color-gray,
:root[primary-color='gray'],
[primary-color='gray'] {
  --ice-color-primary: #6b7280;
  --ice-color-primary-rgb: 107, 114, 128;
  --ice-color-primary-50: #f9fafb;
  --ice-color-primary-100: #f3f4f6;
  --ice-color-primary-200: #e5e7eb;
  --ice-color-primary-300: #d1d5db;
  --ice-color-primary-400: #9ca3af;
  --ice-color-primary-500: #6b7280;
  --ice-color-primary-600: #4b5563;
  --ice-color-primary-700: #374151;
  --ice-color-primary-800: #1f2937;
  --ice-color-primary-900: #111827;
  --ice-color-primary-950: #030712;
}

/** 主题色 - zinc  **/
.primary-color-zinc,
:root[primary-color='zinc'],
[primary-color='zinc'] {
  --ice-color-primary: #71717a;
  --ice-color-primary-rgb: 113, 113, 122;
  --ice-color-primary-50: #fafafa;
  --ice-color-primary-100: #f4f4f5;
  --ice-color-primary-200: #e4e4e7;
  --ice-color-primary-300: #d4d4d8;
  --ice-color-primary-400: #a1a1aa;
  --ice-color-primary-500: #71717a;
  --ice-color-primary-600: #52525b;
  --ice-color-primary-700: #3f3f46;
  --ice-color-primary-800: #27272a;
  --ice-color-primary-900: #18181b;
  --ice-color-primary-950: #09090b;
}

/** 主题色 - neutral  **/
.primary-color-neutral,
:root[primary-color='neutral'],
[primary-color='neutral'] {
  --ice-color-primary: #737373;
  --ice-color-primary-rgb: 115, 115, 115;
  --ice-color-primary-50: #fafafa;
  --ice-color-primary-100: #f5f5f5;
  --ice-color-primary-200: #e5e5e5;
  --ice-color-primary-300: #d4d4d4;
  --ice-color-primary-400: #a3a3a3;
  --ice-color-primary-500: #737373;
  --ice-color-primary-600: #525252;
  --ice-color-primary-700: #404040;
  --ice-color-primary-800: #262626;
  --ice-color-primary-900: #171717;
  --ice-color-primary-950: #0a0a0a;
}

/** 主题色 - stone  **/
.primary-color-stone,
:root[primary-color='stone'],
[primary-color='stone'] {
  --ice-color-primary: #78716c;
  --ice-color-primary-rgb: 120, 113, 108;
  --ice-color-primary-50: #fafaf9;
  --ice-color-primary-100: #f5f5f4;
  --ice-color-primary-200: #e7e5e4;
  --ice-color-primary-300: #d6d3d1;
  --ice-color-primary-400: #a8a29e;
  --ice-color-primary-500: #78716c;
  --ice-color-primary-600: #57534e;
  --ice-color-primary-700: #44403c;
  --ice-color-primary-800: #292524;
  --ice-color-primary-900: #1c1917;
  --ice-color-primary-950: #0c0a09;
}

/** 主题色 - red  **/
.primary-color-red,
:root[primary-color='red'],
[primary-color='red'] {
  --ice-color-primary: #ef4444;
  --ice-color-primary-rgb: 239, 68, 68;
  --ice-color-primary-50: #fef2f2;
  --ice-color-primary-100: #fee2e2;
  --ice-color-primary-200: #fecaca;
  --ice-color-primary-300: #fca5a5;
  --ice-color-primary-400: #f87171;
  --ice-color-primary-500: #ef4444;
  --ice-color-primary-600: #dc2626;
  --ice-color-primary-700: #b91c1c;
  --ice-color-primary-800: #991b1b;
  --ice-color-primary-900: #7f1d1d;
  --ice-color-primary-950: #450a0a;
}

/** 主题色 - orange  **/
.primary-color-orange,
:root[primary-color='orange'],
[primary-color='orange'] {
  --ice-color-primary: #f97316;
  --ice-color-primary-rgb: 249, 115, 22;
  --ice-color-primary-50: #fff7ed;
  --ice-color-primary-100: #ffedd5;
  --ice-color-primary-200: #fed7aa;
  --ice-color-primary-300: #fdba74;
  --ice-color-primary-400: #fb923c;
  --ice-color-primary-500: #f97316;
  --ice-color-primary-600: #ea580c;
  --ice-color-primary-700: #c2410c;
  --ice-color-primary-800: #9a3412;
  --ice-color-primary-900: #7c2d12;
  --ice-color-primary-950: #431407;
}

/** 主题色 - amber  **/
.primary-color-amber,
:root[primary-color='amber'],
[primary-color='amber'] {
  --ice-color-primary: #f59e0b;
  --ice-color-primary-rgb: 245, 158, 11;
  --ice-color-primary-50: #fffbeb;
  --ice-color-primary-100: #fef3c7;
  --ice-color-primary-200: #fde68a;
  --ice-color-primary-300: #fcd34d;
  --ice-color-primary-400: #fbbf24;
  --ice-color-primary-500: #f59e0b;
  --ice-color-primary-600: #d97706;
  --ice-color-primary-700: #b45309;
  --ice-color-primary-800: #92400e;
  --ice-color-primary-900: #78350f;
  --ice-color-primary-950: #451a03;
}

/** 主题色 - yellow  **/
.primary-color-yellow,
:root[primary-color='yellow'],
[primary-color='yellow'] {
  --ice-color-primary: #eab308;
  --ice-color-primary-rgb: 234, 179, 8;
  --ice-color-primary-50: #fefce8;
  --ice-color-primary-100: #fef9c3;
  --ice-color-primary-200: #fef08a;
  --ice-color-primary-300: #fde047;
  --ice-color-primary-400: #facc15;
  --ice-color-primary-500: #eab308;
  --ice-color-primary-600: #ca8a04;
  --ice-color-primary-700: #a16207;
  --ice-color-primary-800: #854d0e;
  --ice-color-primary-900: #713f12;
  --ice-color-primary-950: #422006;
}

/** 主题色 - lime  **/
.primary-color-lime,
:root[primary-color='lime'],
[primary-color='lime'] {
  --ice-color-primary: #84cc16;
  --ice-color-primary-rgb: 132, 204, 22;
  --ice-color-primary-50: #f7fee7;
  --ice-color-primary-100: #ecfccb;
  --ice-color-primary-200: #d9f99d;
  --ice-color-primary-300: #bef264;
  --ice-color-primary-400: #a3e635;
  --ice-color-primary-500: #84cc16;
  --ice-color-primary-600: #65a30d;
  --ice-color-primary-700: #4d7c0f;
  --ice-color-primary-800: #3f6212;
  --ice-color-primary-900: #365314;
  --ice-color-primary-950: #1a2e05;
}

/** 主题色 - green  **/
.primary-color-green,
:root[primary-color='green'],
[primary-color='green'] {
  --ice-color-primary: #22c55e;
  --ice-color-primary-rgb: 34, 197, 94;
  --ice-color-primary-50: #f0fdf4;
  --ice-color-primary-100: #dcfce7;
  --ice-color-primary-200: #bbf7d0;
  --ice-color-primary-300: #86efac;
  --ice-color-primary-400: #4ade80;
  --ice-color-primary-500: #22c55e;
  --ice-color-primary-600: #16a34a;
  --ice-color-primary-700: #15803d;
  --ice-color-primary-800: #166534;
  --ice-color-primary-900: #14532d;
  --ice-color-primary-950: #052e16;
}

/** 主题色 - emerald  **/
.primary-color-emerald,
:root[primary-color='emerald'],
[primary-color='emerald'] {
  --ice-color-primary: #10b981;
  --ice-color-primary-rgb: 16, 185, 129;
  --ice-color-primary-50: #ecfdf5;
  --ice-color-primary-100: #d1fae5;
  --ice-color-primary-200: #a7f3d0;
  --ice-color-primary-300: #6ee7b7;
  --ice-color-primary-400: #34d399;
  --ice-color-primary-500: #10b981;
  --ice-color-primary-600: #059669;
  --ice-color-primary-700: #047857;
  --ice-color-primary-800: #065f46;
  --ice-color-primary-900: #064e3b;
  --ice-color-primary-950: #022c22;
}

/** 主题色 - teal  **/
.primary-color-teal,
:root[primary-color='teal'],
[primary-color='teal'] {
  --ice-color-primary: #14b8a6;
  --ice-color-primary-rgb: 20, 184, 166;
  --ice-color-primary-50: #f0fdfa;
  --ice-color-primary-100: #ccfbf1;
  --ice-color-primary-200: #99f6e4;
  --ice-color-primary-300: #5eead4;
  --ice-color-primary-400: #2dd4bf;
  --ice-color-primary-500: #14b8a6;
  --ice-color-primary-600: #0d9488;
  --ice-color-primary-700: #0f766e;
  --ice-color-primary-800: #115e59;
  --ice-color-primary-900: #134e4a;
  --ice-color-primary-950: #042f2e;
}

/** 主题色 - cyan  **/
.primary-color-cyan,
:root[primary-color='cyan'],
[primary-color='cyan'] {
  --ice-color-primary: #06b6d4;
  --ice-color-primary-rgb: 6, 182, 212;
  --ice-color-primary-50: #ecfeff;
  --ice-color-primary-100: #cffafe;
  --ice-color-primary-200: #a5f3fc;
  --ice-color-primary-300: #67e8f9;
  --ice-color-primary-400: #22d3ee;
  --ice-color-primary-500: #06b6d4;
  --ice-color-primary-600: #0891b2;
  --ice-color-primary-700: #0e7490;
  --ice-color-primary-800: #155e75;
  --ice-color-primary-900: #164e63;
  --ice-color-primary-950: #083344;
}

/** 主题色 - sky  **/
.primary-color-sky,
:root[primary-color='sky'],
[primary-color='sky'] {
  --ice-color-primary: #0ea5e9;
  --ice-color-primary-rgb: 14, 165, 233;
  --ice-color-primary-50: #f0f9ff;
  --ice-color-primary-100: #e0f2fe;
  --ice-color-primary-200: #bae6fd;
  --ice-color-primary-300: #7dd3fc;
  --ice-color-primary-400: #38bdf8;
  --ice-color-primary-500: #0ea5e9;
  --ice-color-primary-600: #0284c7;
  --ice-color-primary-700: #0369a1;
  --ice-color-primary-800: #075985;
  --ice-color-primary-900: #0c4a6e;
  --ice-color-primary-950: #082f49;
}

/** 主题色 - indigo  **/
.primary-color-indigo,
:root[primary-color='indigo'],
[primary-color='indigo'] {
  --ice-color-primary: #6366f1;
  --ice-color-primary-rgb: 99, 102, 241;
  --ice-color-primary-50: #eef2ff;
  --ice-color-primary-100: #e0e7ff;
  --ice-color-primary-200: #c7d2fe;
  --ice-color-primary-300: #a5b4fc;
  --ice-color-primary-400: #818cf8;
  --ice-color-primary-500: #6366f1;
  --ice-color-primary-600: #4f46e5;
  --ice-color-primary-700: #4338ca;
  --ice-color-primary-800: #3730a3;
  --ice-color-primary-900: #312e81;
  --ice-color-primary-950: #1e1b4b;
}

/** 主题色 - violet  **/
.primary-color-violet,
:root[primary-color='violet'],
[primary-color='violet'] {
  --ice-color-primary: #8b5cf6;
  --ice-color-primary-rgb: 139, 92, 246;
  --ice-color-primary-50: #f5f3ff;
  --ice-color-primary-100: #ede9fe;
  --ice-color-primary-200: #ddd6fe;
  --ice-color-primary-300: #c4b5fd;
  --ice-color-primary-400: #a78bfa;
  --ice-color-primary-500: #8b5cf6;
  --ice-color-primary-600: #7c3aed;
  --ice-color-primary-700: #6d28d9;
  --ice-color-primary-800: #5b21b6;
  --ice-color-primary-900: #4c1d95;
  --ice-color-primary-950: #2e1065;
}

/** 主题色 - purple  **/
.primary-color-purple,
:root[primary-color='purple'],
[primary-color='purple'] {
  --ice-color-primary: #a855f7;
  --ice-color-primary-rgb: 168, 85, 247;
  --ice-color-primary-50: #faf5ff;
  --ice-color-primary-100: #f3e8ff;
  --ice-color-primary-200: #e9d5ff;
  --ice-color-primary-300: #d8b4fe;
  --ice-color-primary-400: #c084fc;
  --ice-color-primary-500: #a855f7;
  --ice-color-primary-600: #9333ea;
  --ice-color-primary-700: #7e22ce;
  --ice-color-primary-800: #6b21a8;
  --ice-color-primary-900: #581c87;
  --ice-color-primary-950: #3b0764;
}

/** 主题色 - fuchsia  **/
.primary-color-fuchsia,
:root[primary-color='fuchsia'],
[primary-color='fuchsia'] {
  --ice-color-primary: #d946ef;
  --ice-color-primary-rgb: 217, 70, 239;
  --ice-color-primary-50: #fdf4ff;
  --ice-color-primary-100: #fae8ff;
  --ice-color-primary-200: #f5d0fe;
  --ice-color-primary-300: #f0abfc;
  --ice-color-primary-400: #e879f9;
  --ice-color-primary-500: #d946ef;
  --ice-color-primary-600: #c026d3;
  --ice-color-primary-700: #a21caf;
  --ice-color-primary-800: #86198f;
  --ice-color-primary-900: #701a75;
  --ice-color-primary-950: #4a044e;
}

/** 主题色 - pink  **/
.primary-color-pink,
:root[primary-color='pink'],
[primary-color='pink'] {
  --ice-color-primary: #ec4899;
  --ice-color-primary-rgb: 236, 72, 153;
  --ice-color-primary-50: #fdf2f8;
  --ice-color-primary-100: #fce7f3;
  --ice-color-primary-200: #fbcfe8;
  --ice-color-primary-300: #f9a8d4;
  --ice-color-primary-400: #f472b6;
  --ice-color-primary-500: #ec4899;
  --ice-color-primary-600: #db2777;
  --ice-color-primary-700: #be185d;
  --ice-color-primary-800: #9d174d;
  --ice-color-primary-900: #831843;
  --ice-color-primary-950: #500724;
}

/** 主题色 - rose  **/
.primary-color-rose,
:root[primary-color='rose'],
[primary-color='rose'] {
  --ice-color-primary: #f43f5e;
  --ice-color-primary-rgb: 244, 63, 94;
  --ice-color-primary-50: #fff1f2;
  --ice-color-primary-100: #ffe4e6;
  --ice-color-primary-200: #fecdd3;
  --ice-color-primary-300: #fda4af;
  --ice-color-primary-400: #fb7185;
  --ice-color-primary-500: #f43f5e;
  --ice-color-primary-600: #e11d48;
  --ice-color-primary-700: #be123c;
  --ice-color-primary-800: #9f1239;
  --ice-color-primary-900: #881337;
  --ice-color-primary-950: #4c0519;
}
