.shopping-cart-page {
  height: 100vh;
  overflow: hidden;
  padding-bottom: 49px;
  @include safe-area-inset-bottom(padding-bottom, 49px);
  display: flex;
  flex-direction: column;
  .layout-scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .recommended {
      margin: 0 !important;
    }
  }
}
.shopping-cart__header {
  flex-shrink: 0;
}
.shopping-cart__title {
  font-size: 18px;
  font-weight: 500;
  // padding: 17px 15px 8px 15px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  /* #ifdef h5 */
  padding-top: 8px;
  /* #endif */
}
.shopping-cart__desc {
  font-size: 12px;
  padding: 0 18px;
  color: $color-text-secondary;
  /* #ifdef weapp */
  margin-top: -8px;
  /* #endif */
  /* #ifdef h5 */
  padding-left: 12px;
  /* #endif */
}
.shopping-cart__spin {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -100%, 0);
}
.shopping-cart__go {
  width: 180px;
  height: 44px;
  background-color: #ff2b60;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  border-radius: 44px;
  letter-spacing: 2px;
}
.shopping-cart__manage {
  font-size: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
  padding: 8px 12px;
  color: $color-primary;
}
.shopping-cart__scroller {
  flex: 1;
  margin-top: 8px;
  height: 70%;
}
.shopping-cart__list {
  padding: 10px;
  overflow: auto;
  height: fit-content;
}
.shopping-cart__item-wrap {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
  clip-path: border-box;
  background-color: #fff;
}
.shopping-cart__item-remove {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-error;
  color: #fff;
  font-size: 12px;
}
.shopping-cart__action-bar {
  flex-shrink: 0;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
.shopping-cart__action-content {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.shopping-cart__check-all {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 12px;
}
.shopping-cart__amount {
  font-size: 12px;
  margin-right: 8px;
  .value {
    font-size: 20px;
  }
}
.shopping-cart__order-pay {
  height: 40px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: $color-primary;
  color: #fff;
  margin-left: 8px;
  transition: all 0.3s;
  opacity: 1;
  &.disabled {
    filter: grayscale(1);
    opacity: 0.4;
  }
}
