.image-selector__sub-page {
  overflow: hidden scroll;
  flex: 1;

  .anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 24px 0;
    color: $color-text-disabled;
  }
}
.image-selector__waterfall {
  position: relative;
}
.image-selector__item {
  position: absolute;
  width: calc((100% - 12px * 2) / 3);
  min-height: 48px;
  transition: all 0.3s;
  top: 0;
  left: 0;
  img,
  video {
    width: 100%;
  }
  padding: 8px;
  background-color: $color-bg-700;
  border-radius: 8px;

  &:hover {
    .icon, span {
      color: $color-primary;
    }
  }
}
.lego-resource__badge {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: $color-primary;
  border-radius: 7px 4px 7px 4px;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
}
.lego-resource__audio {
  padding-top: 24px;
  display: flex;
  align-items: center;
  .play {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-top: 4px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 10.4px;
      border-color: transparent transparent transparent #555;
      margin-left: 2px;
    }
  }
  .cnt {
    flex: 1;
  }
  .track {
    width: 100%;
    background: #fff;
    height: 5px;
    border-radius: 3px;
  }
}
