.dump-image-modal {
  width: 600px;
  min-height: 400px;
  margin-top: -8px;
  border-radius: 10px;
  overflow: hidden;
}
.dump-image-modal__header {
  padding: 0 32px;
}
.dump-image-modal__list {
  max-height: calc(100vh - 200px);
  overflow: hidden auto;
  border-top: 1px solid $color-border-base;
  padding: 24px 24px 12px;
  display: flex;
  flex-wrap: wrap;
}
.dump-image-modal__item {
  width: calc((100% - 12px) / 2);
  margin-bottom: 12px;
  background-color: $color-bg-500;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  margin-right: 12px;
  &:nth-child(even) {
    margin-right: 0;
  }
  &:hover .dump-image-modal__item-image-preview {
    opacity: 1;
  }
}

.dump-image-modal__item-image {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: $color-bg-500;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 12px;
}
.dump-image-modal__item-image-preview {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  transform: scale(1.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all .3s;
}
.dump-image-modal__item-content {
  flex: 1;
  overflow: hidden;
}

.dump-image-modal__link {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.dump-image-modal__status {
  display: flex;
  align-items: center;
  margin-left: auto;
  strong {
    margin-right: 8px;
  }
  a {
    margin-left: auto;
  }
  a + a {
    margin-left: 12px;
  }
}

.dump-image-modal__action {
  display: flex;
  align-items: center;
  padding: 16px;
  position: absolute;
  top: -52px;
  right: -6px;
}
