[data-layout='layoutB'] {
  .#{$prefix}-basic-layout__nav {
    flex-shrink: 0;
    width: 80px;
    height: 100%;
    background-color: $color-bg-200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    gap: 12px;
    // margin-right: 1px;
    border-right: 1px solid $color-border-base;
    overflow: hidden;
  }
  .basic-layout__brand {
    width: 220px - 24px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid $color-border-base;
    color: $color-primary;
    img {
      height: 32px;
      width: auto;
    }
  }

  .basic-layout__apps {
    flex-shrink: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: auto;
    margin-top: -24px;
    overflow: hidden overlay;
    padding: 24px 0 32px 0;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 24px,
      rgba(0, 0, 0, 1) calc(100% - 32px),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 24px,
      rgba(0, 0, 0, 1) calc(100% - 32px),
      rgba(0, 0, 0, 0)
    );
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .basic-layout__app-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.--active {
      img {
        border-color: $color-primary;
        background-color: $color-primary-02;
      }
      // strong {
      //   color: $color-primary;
      // }
    }
    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
      background-color: $color-bg-500;
      border-radius: 8px;
      border: 2px solid $color-bg-500;
      user-select: none;
    }
    strong {
      font-size: 12px;
      white-space: nowrap;
      margin-top: 5px;
      font-weight: bold;
      color: $color-text-base;
    }
  }
  .basic-layout__user-avatar {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 4px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
