[data-layout='layoutC'] {
  .#{$prefix}-basic-layout__nav {
    flex-shrink: 0;
    width: 100%;
    background-color: $color-bg-100;
    border-bottom: 1px solid $color-border-base;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .basic-layout__brand {
    width: 100%;
    // height: 74px;
    margin-bottom: 16px;
    flex-shrink: 0;
    margin-top: 8px;
    margin-left: 8px;
  }

  .basic-layout__apps {
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 16px 20px;
    margin-top: 8px;
    overflow: auto hidden;
    overflow: overlay hidden;

    // transform: scaleY(-1);

    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 24px,
      rgba(0, 0, 0, 1) calc(100% - 24px),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 24px,
      rgba(0, 0, 0, 1) calc(100% - 24px),
      rgba(0, 0, 0, 0)
    );

    &::-webkit-scrollbar {
      /*高宽分别对应横竖滚动条的尺寸*/
      width: 4px;
      height: 4px;
      // display: none;
    }
    &::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 8px;
      background-color: $color-bg-900;
    }
    &::-webkit-scrollbar-track {
      background-color: none;
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
  // .#{$prefix}-badge {
  //   transform: scaleY(-1);
  //   .basic-layout__app-item {
  //     transform: scaleY(1);
  //   }
  // }
  .basic-layout__app-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // transform: scaleY(-1);
    &.--active {
      img {
        border-color: $color-primary;
        background-color: $color-primary-02;
      }
      // strong {
      //   color: $color-primary;
      // }
    }
    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
      background-color: $color-bg-500;
      border-radius: 8px;
      border: 2px solid $color-bg-500;
      user-select: none;
    }
    strong {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      white-space: nowrap;
      margin-top: 5px;
      font-weight: bold;
      color: $color-text-base;
    }
  }
  .basic-layout__user-avatar {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 16px;
    position: absolute;
    top: 16px;
    right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .basic-layout__icon-button-container {
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: space-around;
  }
  .#{$prefix}-basic-layout__menu {
    flex: 1;
    height: auto;
  }
}
