.c_food-recommendations {
  padding: 8rem 0 8rem 12rem;

  .c_food-recommendations-title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .c_food-recommendations-left-title {
      font-weight: 600;
    }

    .c_food-recommendations-right-layout {
      display: flex;
      flex-direction: row;
      position: relative;

      .c_title__arrow {
        .c_title__arrow-text {
          font-size: inherit;
          vertical-align: middle;
          white-space: nowrap;
          color: inherit;
        }

        .c_title__arrow-icon {
          font-size: inherit;
          margin-left: 2px;
        }
      }
    }
  }

  .c-food-item-limted {
    display: flex;
    width: 100%;
    overflow-y: auto;
    margin-top: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // 图片组容器
  .c-food-item-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;

    .c-food-item {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-right: 5rem;
      position: relative;

      .food-cover-image {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .food-text-container {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          flex-direction: column;
          height: 170rem;
          width: 130rem;
          border-radius: 10rem;

          .c-food-text-container {
            position: absolute;
            bottom: 0;
            padding: 4rem;
            width: 100%;
            border-bottom-left-radius: 10rem;
            border-bottom-right-radius: 10rem;
            overflow: hidden;

            .c-food-background-image {
              position: absolute;
              bottom: -5px;
              left: 0;
              display: flex;
              width: 200%;
              height: 100%;
            }

            .foodName,
            .food-descriptions {
              z-index: 2;
              position: relative;
            }

            .foodName {
            }

            .food-descriptions {
              margin-top: 2rem;
            }
          }
        }

        .c-food-text-layout-outside {
          margin-top: 5rem;
        }
      }
    }
  }
}
