[theme='dark'] {
  .#{$prefix}-action__menu {
    background-color: $color-bg-100;
  }
  .#{$prefix}-action__content {
    background-color: $color-bg-300;
  }

  .w_action-modal__configure-content {
    .jsf-collapse__header {
      background-color: $color-bg-200;
    }
    .jsf-collapse__content {
      background-color: $color-bg-400;
    }
  }
  .w_action__category-item {
    background-color: $color-bg-300;
  }
  .w_action__action {
    background-color: $color-bg-100;
  }
}
