.use-map-boundary {
  padding: 0 12px 12px 12px;
  .map-view {
    width: 800px;
    height: 600px;
    border-radius: 4px;
    overflow: hidden;
    cursor: crosshair;
  }
}
.use-map-boundary__content {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: -55px;
  right: 0;
  z-index: 100;
  padding: 12px;
}

// 隐藏 腾讯地图 LOGO
CANVAS + DIV a[href^="http://map.qq.com"]
{
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  & + div {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}
