[theme="dark"] {
  .deck-editor-header {
    background-color: $color-bg-300;
  }
  .deck-editor-header__action {
    color: #ccc;
    &:hover {
      background-color: $color-bg-100;
    }
    .sink {
      opacity: 0.6;
    }
  }
  .deck-editor-header__comp-name::after {
    background-color: #555;
  }
}