.ice-global-loading {
  width: 106px;
  height: 106px;
  --bg: 255, 255, 255;
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  overflow: hidden;
  .c_spin {
    width: 80px;
    height: 80px;
    margin-left: 2px; // 调整视觉居中
  }
  &.toast-visible {
    background-color: rgba(var(--bg), 1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.2);
  }
  .ice-global-loading__tip {
    font-size: 11px;
    color: #aaa;
    margin-top: -14px;
    margin-bottom: 8px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  .ice-global-loading__close {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 16px 0 10px;
    background-color: #f5f6fa;
    color: #aaa;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    padding-left: 0.5px;
    padding-top: 0.5px;
    &::after {
      content: '';
      width: 150%;
      height: 150%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
